.contenedor{
    max-width: 1200px;
    margin: auto;
    background: white;
    justify-content: center;
    flex-direction: column;
}
.header{
   background:url(header.jpg);
   background-position: center;
   margin-top: 1px;
   height: 420px;
   flex-direction: column;
}
.menu a{
    box-sizing: border-box;
    float: left;
    width: 12%;
    text-align: center;
    padding: 30px;
    color: gray;
}
.menu a:hover{
    background-color: lightgray ;
}
.contenido{
    height: 500px;
    display: flex;
    flex-direction: row;
    
    
}
.section{
    background:lightgray;
    margin-top: 6px;
    margin-right: 7px;
    height: 100%;
    width: 70%;
}
.aside{
    background:lightgray;
    margin-top: 7px;
    height: 100%;
    width: 30%;
}

